<div class="overlay " [ngClass]={hide:!active} (click)="closeNav()"></div>
<!--  <div class="overlay hide" onclick="closeNav()"></div>  -->
<div id="mySidenav" class="sidenav noscript">
     <ul>
          <li><a href="javascript:void(0)" class="closebtn cross_btn" (click)="closeNav()">×</a></li>
          <li><a href="https://paymatrix.in/auth/user/login">Log in | Sign up</a></li>
          <li><a href="https://paymatrix.in/home/index">Home</a></li>      
          <li><a href="https://paymatrix.in/home/tenant">Tenants</a></li>
          <li><a href="https://paymatrix.in/home/landlord">Landlords</a></li>
          <li><a href="https://paymatrix.in/rental-agreement">Rent Agreements</a></li>
          <li><a href="https://paymatrix.in/receipts">Rent receipts</a></li>
          <li><a href="https://paymatrix.in/home/screening">Tenant Screening</a></li>
          <li><a href="https://paymatrix.in/renters-insurance">Renters Insurance</a></li>
          <li><a href="https://paymatrix.in/landlord-insurance">Landlord Insurance</a></li>
          <li><a href="https://paymatrix.in/home/pricing">Pricing</a></li>
          <li><a href="https://paymatrix.in/home/referandearn">Refer and Earn</a></li>
          <li><a href="https://paymatrix.in/home/offers">Offers</a></li>
          <li><a href="https://paymatrix.in/home/faqs">FAQs</a></li>
          <li><a href="https://paymatrix.in/home/contact">Contact us</a></li>
     </ul>
</div>
<!-- side nav ends -->

<nav class="navbar navbar-fixed-top home-nav animated home-nav-default fadeIn">
     <div class="container-fluid">
          <div class="navbar-header">
               <a href="<?php echo base_url('home/index') ?>" class=" paymatrix-logo"></a>
               <a href="#mySidenav" class="nav_open pull-right visible-xs-block" (click)="openNav()"><i class="fa fa-bars fa-3x" aria-hidden="true"></i>&nbsp;<span class="hidden-xs">Menu</span></a>
          </div>
          <div class="home-nav-menu ">
               <ul class="nav navbar-nav pull-right mainmenu_bg">
                    <li class=" hidden-sm hidden-xs "><a href="https://paymatrix.in/home/benefits" class="owner"><span>Benefits</span></a>
                    </li>
                    <li class="drop hidden-sm hidden-xs "><a href="https://paymatrix.in/home/index"><span>Home</span></a>
                    </li>         
                    <li class=" hidden-xs "><a href="https://paymatrix.in/auth/user/login" class="under-line"><span>Log in | Sign up</span></a></li>
                    <li class="noscript hidden-xs"><a href="#mySidenav" class="nav_open" (click)="openNav()"><i class="fa fa-bars fa-lg" aria-hidden="true"></i>&nbsp;<span class="hidden-xs">Menu</span></a></li>
               </ul> 
          </div>        
     </div>
</nav>

<div class="container-fluid" style="padding-top: 70px;height: 100%">
     <div class="row" style="height: 100%">
          <div class="col-md-3 left-user-input"> 
               <form [formGroup]="leftUserInput" (ngSubmit)="onSubmit()">

                    <!-- City Name-->
                    <div class="input-box">
                         <div class="img-box">
                              <img src="assets/img_trans.gif"  class="bg-Rent_analytics_A_03" alt="City Name" >
                         </div>
                         <div class="form-group form-box">
                              <label class="form-label-style" for="city">City name </label>              
                              <input 
                              type="text"
                              name="cityname" 
                              formControlName="cityname"
                              class="form-control form-input-style" 
                              placeholder="Enter your city"  
                              [(ngModel)]="city">
                         </div>
                         <div class="error-msg" *ngIf=" leftUserInput.get('cityname').invalid && ( leftUserInput.get('cityname').touched || leftUserInput.get('cityname').dirty)">
                              <span *ngIf=" leftUserInput.get('cityname').errors['required']"> City name required </span>
                              <span *ngIf="leftUserInput.get('cityname').errors['minlength'] || leftUserInput.get('cityname').errors['pattern']"> Invalid city name </span>
                              
                         </div>
                    </div>
                    <!-- Area Pincode-->
                    <div class="input-box">
                         <div class="img-box">
                              <img src="assets/img_trans.gif"  class="bg-Rent_analytics_A_07" alt="Pincode" >
                         </div>
                         <div class="form-group form-box">
                              <label class="form-label-style" for="area">Pincode</label>
                              <input 
                              type="text" 
                              name="pincode" 
                              formControlName="pincode"                              
                              class="form-control form-input-style" 
                              placeholder="Enter area pincode" 
                              [(ngModel)]="pin">
                         </div>
                         <div class="error-msg" *ngIf=" leftUserInput.get('pincode').invalid && ( leftUserInput.get('pincode').touched || leftUserInput.get('pincode').dirty)">
                              <span *ngIf=" leftUserInput.get('pincode').errors['required']"> Pincode required </span>
                              <span *ngIf="leftUserInput.get('pincode').errors['pattern']"> Only 6 digit are allowed </span>
                         </div>
                    </div>
                    <!-- Cost of the property-->
                    <div class="input-box">
                         <div class="img-box">
                              <img src="assets/img_trans.gif"  class="bg-Rent_analytics_A_10" alt="Cost of the property" >
                         </div>
                         <div class="form-group form-box">
                              <label class="form-label-style" for="property-cost">Cost of the property
                                   <span *ngIf=" leftUserInput.get('propertyCost').valid && ( leftUserInput.get('propertyCost').touched || leftUserInput.get('propertyCost').dirty)"> : Rs. {{CP/100000}} Lakhs</span></label>
                                   <div class="input-group">                        
                                        <span class="input-group-addon">Rs.</span>
                                        <input 
                                        type="number" 
                                        name="costofProperty"
                                        formControlName="propertyCost"    
                                        class="form-control form-input-style"
                                        placeholder="Enter between 5L-10Cr" 
                                        [(ngModel)]="CP">
                                   </div>
                              </div>
                              <div class="error-msg" *ngIf=" leftUserInput.get('propertyCost').invalid && ( leftUserInput.get('propertyCost').touched || leftUserInput.get('propertyCost').dirty)">
                                   <span *ngIf=" leftUserInput.get('propertyCost').errors['required']"> Property cost required </span>
                                   <span *ngIf="leftUserInput.get('propertyCost').errors['min']"> Property to cost at least Rs. 5,00,000 </span>
                                   <span *ngIf="leftUserInput.get('propertyCost').errors['max']"> Property cost not to exceed Rs. 10,00,00,000 </span>
                              </div>           
                         </div>
                         <!-- Loan amount (Rs.)-->
                         <div class="input-box">
                              <div class="img-box">
                                   <img src="assets/img_trans.gif"  class="bg-Rent_analytics_A_15" alt="Loan amount" >
                              </div>
                              <div class="form-group form-box">
                                   <label class="form-label-style" for="loan-amount">Loan amount
                                        <span *ngIf=" leftUserInput.get('loanAmount').valid && ( leftUserInput.get('loanAmount').touched || leftUserInput.get('loanAmount').dirty)"> : Rs. {{LA/100000}} Lakhs</span></label>
                                        <div class="input-group">                        
                                             <span class="input-group-addon">Rs.</span>
                                             <input 
                                             type="number" 
                                             name="loanAmount" 
                                             formControlName="loanAmount"   
                                             class="form-control form-input-style" 
                                             placeholder="Enter between 50K-10Cr" 
                                             [(ngModel)]="LA" >
                                        </div>
                                   </div>
                                   <div class="error-msg" *ngIf=" leftUserInput.get('loanAmount').invalid && ( leftUserInput.get('loanAmount').touched || leftUserInput.get('loanAmount').dirty)">
                                        <span *ngIf=" leftUserInput.get('loanAmount').errors['required']"> Loan amount required </span>
                                        <span *ngIf="leftUserInput.get('loanAmount').errors['min']"> Loan amount at least Rs. 50,000</span>
                                        <span *ngIf="leftUserInput.get('loanAmount').errors['max']"> Loan amount not more than Rs. 10,00,00,000 </span>
                                   </div> 
                              </div>
                              <!-- Loan interest rate (%)-->
                              <div class="input-box">
                                   <div class="img-box">
                                        <img src="assets/img_trans.gif"  class="bg-Rent_analytics_A_18" alt="Loan interest rate" >
                                   </div>
                                   <div class="form-group form-box">
                                        <label class="form-label-style" for="loan-interest">Loan interest rate</label> 
                                        <div class="input-group">                        
                                             <input 
                                             type="number" 
                                             name="loaninterest"
                                             formControlName="loanInterest"   
                                             class="form-control form-input-style"
                                             placeholder="Enter between 0%-25%"  
                                             [(ngModel)]="LI_P">
                                             <span class="input-group-addon">%</span>
                                        </div> 
                                   </div>
                                   <div class="error-msg" *ngIf=" leftUserInput.get('loanInterest').invalid && ( leftUserInput.get('loanInterest').touched || leftUserInput.get('loanInterest').dirty)">         
                                        <span *ngIf=" leftUserInput.get('loanInterest').errors['required']"> Loan interest rate required </span>                  
                                        <span *ngIf="leftUserInput.get('loanInterest').errors['min']"> Loan interest rate at least 7 %</span>
                                        <span *ngIf="leftUserInput.get('loanInterest').errors['max']"> Loan interest rate not more than 15 % </span>
                                   </div> 
                              </div>
                              <!-- Loan term (Year)-->
                              <div class="input-box">
                                   <div class="img-box">
                                        <img src="assets/img_trans.gif"  class="bg-Rent_analytics_A_20" alt="Loan term" >
                                   </div>
                                   <div class="form-group form-box">
                                        <label class="form-label-style" for="loan-term">Loan term</label>
                                        <div class="input-group">                        
                                             <input 
                                             type="number" 
                                             name="loanterm" 
                                             formControlName="loanTerm"   
                                             class="form-control form-input-style"
                                             placeholder="Enter between 5-35 "   
                                             [(ngModel)]="LY">
                                             <span class="input-group-addon">Year</span>
                                        </div>
                                   </div>
                                   <div class="error-msg" *ngIf=" leftUserInput.get('loanTerm').invalid && ( leftUserInput.get('loanTerm').touched || leftUserInput.get('loanTerm').dirty)">
                                        <span *ngIf=" leftUserInput.get('loanTerm').errors['required']"> Loan term required </span>
                                        <span *ngIf="leftUserInput.get('loanTerm').errors['min']"> Loan term at least 5 years</span>
                                        <span *ngIf="leftUserInput.get('loanTerm').errors['max']"> Loan term not more than 35 years </span>
                                   </div> 
                              </div>
                              <!-- Rent paid in the current property (Rs.)-->
                              <div class="input-box">
                                   <div class="img-box ">
                                        <img src="assets/img_trans.gif"  class="bg-Rent_analytics_A_22" alt="Current property rent" >
                                   </div>
                                   <div class="form-group form-box">
                                        <label class="form-label-style" for="current-property-rent">Current rent per month 
                                             <span *ngIf=" leftUserInput.get('rentPaid').valid && ( leftUserInput.get('rentPaid').touched || leftUserInput.get('rentPaid').dirty)"> : Rs. {{RP/1000}}K</span></label>
                                             <div class="input-group">                        
                                                  <span class="input-group-addon">Rs.</span>
                                                  <input 
                                                  type="number" 
                                                  name="currentRent" 
                                                  formControlName="rentPaid"   
                                                  class="form-control form-input-style" 
                                                  placeholder="Enter between 1K- 20L"   
                                                  [(ngModel)]="RP">
                                             </div>
                                        </div>
                                        <div class="error-msg" *ngIf=" leftUserInput.get('rentPaid').invalid && ( leftUserInput.get('rentPaid').touched || leftUserInput.get('rentPaid').dirty)">
                                             <span *ngIf=" leftUserInput.get('rentPaid').errors['required']"> Current rent paid required </span>
                                             <span *ngIf="leftUserInput.get('rentPaid').errors['min']"> Current rent paid at least Rs 1,000</span>
                                             <span *ngIf="leftUserInput.get('rentPaid').errors['max']"> Current rent paid not more than Rs 20,00,000 </span>
                                        </div>
                                   </div>
                                   <div class="input-box ">           
                                        <button type="submit" [disabled]="leftUserInput.invalid" class="btn form-submit" (click)="form_function()" style="width: 75%;">Calculate</button>                         
                                   </div>
                              </form>
                         </div><!-- Left user input--> 


                         <!-- Middle section-->  
                         <div class="col-md-6 middle-graph-analysis">
                              <h4 class="text-center decion_headng">Make a decision now</h4>
                              <p *ngIf=" msg_year != LY" class="prop_suggestion">Paymatrix suggests to <span class="spn_buy">{{firstDecision}}</span> the property, if you are planning to stay in the same property less than <br><span class="spn_tim">{{msg_year}} years</span> else it is suggested to <span class="spn_rnt">{{secondDecision}}</span> the property.
                              </p>
                              <p *ngIf=" msg_year == LY" class="prop_suggestion">Paymatrix suggests to <span class="spn_buy">{{firstDecision}}</span> the property, if you are planning to stay in the same property.
                              </p>

                              <div>
                                   <canvas baseChart [datasets]="lineChartData"  [labels]="lineChartLabels"  [options]="lineChartOptions"
                                   [colors]="lineChartColors"  [legend]="lineChartLegend"  [chartType]="lineChartType"> </canvas>
                              </div>
                         </div>
                         <!-- middle-graph-analysis-->



                         <div class="col-md-3 right-user-update">
                              <form [formGroup]="rightUserInput">

                                   <!-- Rental appreciation --> 
                                   <div class="input-box">
                                        <div class="form-group form-box">
                                             <div class="grid_slider" >
                                                  <label for="rentalRange">Annual rental appreciation : {{RA_P}}%</label>
                                                  <input 
                                                  type="range" 
                                                  min="0" 
                                                  max="50" 
                                                  formControlName="rentalappreciation"   
                                                  class="slider" 
                                                  name="rentalRange" 
                                                  [(ngModel)]="RA_P" 
                                                  (input)="RA_function()">
                                             </div>            
                                        </div>
                                   </div>
                                   <!-- Property appreciation --> 
                                   <div class="input-box">
                                        <div class="form-group form-box">
                                             <div class="grid_slider" >
                                                  <label for="propertyRange">Annual property appreciation : {{PA_P}}%</label>
                                                  <input 
                                                  type="range" 
                                                  min="0" 
                                                  max="50"
                                                  formControlName="propertyappreciation" 
                                                  class="slider" 
                                                  name="propertyRange" 
                                                  [(ngModel)]="PA_P" 
                                                  (input)="PA_function()">
                                             </div>            
                                        </div>
                                   </div>
                                   <!-- Montly maintainence (Rs.)-->         
                                   <div class="input-box">   
                                        <div class="form-group form-box">
                                             <label class="form-label-style" for="annual-maintainence">Montly maintainence</label>
                                             <div class="input-group">                        
                                                  <span class="input-group-addon">Rs.</span>
                                                  <input 
                                                  type="number" 
                                                  name="MA" 
                                                  formControlName="montlymtance"
                                                  placeholder="Enter between 1K - 20L"   
                                                  class="form-control form-input-style" 
                                                  [(ngModel)]="MA"  
                                                  (input)="MA_function()">
                                             </div>
                                        </div>
                                        <div class="error-msg" *ngIf=" rightUserInput.get('montlymtance').invalid && ( rightUserInput.get('montlymtance').touched || rightUserInput.get('montlymtance').dirty)">
                                             <span *ngIf=" rightUserInput.get('montlymtance').errors['required']"> Montly maintainence required </span>
                                             <span *ngIf="rightUserInput.get('montlymtance').errors['min']"> Montly maintainence at least Rs 1,000</span>
                                             <span *ngIf="rightUserInput.get('montlymtance').errors['max']"> Montly maintainence not more than Rs 20,00,000 </span>
                                        </div>
                                   </div>
                                   <!-- Security deposit (Rs.)-->        
                                   <div class="input-box">   
                                        <div class="form-group form-box">
                                             <label class="form-label-style" for="security-deposit">Security deposit</label>
                                             <div class="input-group">                        
                                                  <span class="input-group-addon">Rs.</span>
                                                  <input 
                                                  type="number" 
                                                  name="SD"
                                                  formControlName="securitydeposit"
                                                  placeholder="Enter between 1K-20L"  
                                                  class="form-control form-input-style"
                                                  [(ngModel)]="SD" 
                                                  (input)="SD_function()">
                                             </div>
                                        </div>
                                        <div class="error-msg" *ngIf=" rightUserInput.get('securitydeposit').invalid && ( rightUserInput.get('securitydeposit').touched || rightUserInput.get('securitydeposit').dirty)">
                                             <span *ngIf=" rightUserInput.get('securitydeposit').errors['required']"> Security deposit required </span>
                                             <span *ngIf="rightUserInput.get('securitydeposit').errors['min']"> Security deposit at least Rs 1,000</span>
                                             <span *ngIf="rightUserInput.get('securitydeposit').errors['max']"> Security deposit not more than Rs 20,00,000 </span>
                                        </div>
                                   </div>

                                   <!-- Property tax rate (%)--> 
                                   <div class="input-box">           
                                        <div class="form-group form-box">
                                             <label class="form-label-style" for="property-tax">Property tax rate</label>
                                             <div class="input-group">                        
                                                  <input 
                                                  type="number" 
                                                  name="PT_P" 
                                                  formControlName="propertytax"
                                                  placeholder="Enter between 0%-10%"
                                                  class="form-control form-input-style" 
                                                  [(ngModel)]="PT_P" 
                                                  (input)="PT_function()">
                                                  <span class="input-group-addon">%</span>
                                             </div>
                                        </div>
                                        <div class="error-msg" *ngIf=" rightUserInput.get('propertytax').invalid && ( rightUserInput.get('propertytax').touched || rightUserInput.get('propertytax').dirty)">
                                             <span *ngIf=" rightUserInput.get('propertytax').errors['required']"> Property tax rate required </span>
                                             <span *ngIf="rightUserInput.get('propertytax').errors['min']"> Property tax rate at least 0%</span>
                                             <span *ngIf="rightUserInput.get('propertytax').errors['max']"> Property tax rate not more than 10% </span>
                                        </div>
                                   </div>
                                   <!-- Savings rate (Rs.)-->     
                                   <div class="input-box">      
                                        <div class="form-group form-box">
                                             <label class="form-label-style" for="savings-rate">Saving interest rates (interest earned on rent deposit)</label>
                                             <div class="input-group">
                                                  <input 
                                                  type="number" 
                                                  name="SR_P" 
                                                  formControlName="savingsrate"
                                                  placeholder="Enter between 0%-50%"
                                                  class="form-control form-input-style" 
                                                  [(ngModel)]="SR_P" 
                                                  (input)="SR_function()">
                                                  <span class="input-group-addon">%</span>
                                             </div>
                                        </div>
                                        <div class="error-msg" *ngIf=" rightUserInput.get('savingsrate').invalid && ( rightUserInput.get('savingsrate').touched || rightUserInput.get('savingsrate').dirty)">
                                             <span *ngIf=" rightUserInput.get('savingsrate').errors['required']"> Savings rate required </span>
                                             <span *ngIf="rightUserInput.get('savingsrate').errors['min']"> Savings rate at least 4%</span>
                                             <span *ngIf="rightUserInput.get('savingsrate').errors['max']"> Savings rate not more than 50% </span>
                                        </div>
                                   </div>
                                   <!-- Income tax (%)  --> 
                                   <div class="input-box">        
                                        <div class="form-group form-box">
                                             <label class="form-label-style" for="income-tax">Income tax rate</label>  
                                             <div class="input-group">                        
                                                  <select                               
                                                  name="IT_P" 
                                                  formControlName="incometax"
                                                  placeholder="Enter Income tax"
                                                  class="form-control form-input-style"
                                                  [(ngModel)]="IT_P" 
                                                  (change)="IT_function()">                              
                                                  <option *ngFor="let taxValue of tax" [ngValue]="taxValue"> {{taxValue}}% </option></select>
                                                  <span class="input-group-addon">%</span>
                                             </div>                            
                                        </div>
                                        <div class="error-msg" *ngIf=" rightUserInput.get('incometax').invalid && ( rightUserInput.get('incometax').touched || rightUserInput.get('incometax').dirty)">
                                             <span *ngIf=" rightUserInput.get('incometax').errors['required']"> Savings rate required </span>
                                        </div>
                                   </div>


                              </form>
                         </div><!-- right-user-update--> 
                    </div><!-- row-->
               </div>  <!-- container-fluid-->

<!-- 
<div class="input-group">                        
<span class="input-group-addon">Rs.</span>
</div> -->