 

         <!--       <form [formGroup]="userForm" #f="ngForm" (ngSubmit)="onSubmit()" >
              <div class="form-group">
                   <label for="name">Your name:</label>
                   <input type="text" class="form-control" id="name" name="name" formControlName="test_name">
         
                   <div *ngIf="userForm.controls['test_name'].invalid && (userForm.controls['test_name'].dirty || userForm.controls['test_name'].touched)"  class="error-msg">
         
                       <div *ngIf="userForm.controls['test_name'].hasError('required')"> 
                            Name is required
                       </div>
                       <div *ngIf="userForm.controls['test_name'].hasError('minlength')"> 
                            Please enter atleast 2 charecters
                       </div>
                       <div *ngIf="userForm.controls['test_name'].hasError('maxlength')"> 
                            Name cannot exceed 15 charecters
                       </div>
                  </div>
             </div> -->

             <form [formGroup]="leftUserInput"><!-- (ngSubmit)="onsubmit(f)" -->
<form [formGroup]="leftUserInput" #f="ngForm" (ngSubmit)="onSubmit()" >
               <div class="input-box"><!-- City name-->
                    <div class="img-box">
                         <img src="assets/img_trans.gif"  class="bg-Rent_analytics_A_03" alt="City name" >
                    </div>
                    <div class="form-group form-box">
                         <label class="form-label-style" for="city">City name</label>              
                         <input type="text" id="cityname" name="cityname" class="form-control form-input-style" placeholder="Enter your city" required [(ngModel)]="city" formControlName="cityname">
                    </div>
                    <div *ngIf="leftUserInput.controls['cityname'].invalid && (leftUserInput.controls['cityname'].dirty || leftUserInput.controls['cityname'].touched)" class="error-msg">
                         <div *ngIf="leftUserInput.controls['cityname'].hasError('required')">
                              Area name is required
                         </div>
                    </div>
               </div>    





               <div class="input-box"><!-- Area Pincode-->
                    <div class="img-box">
                         <img src="assets/img_trans.gif"  class="bg-Rent_analytics_A_07" alt="Pincode" >
                    </div>
                    <div class="form-group form-box">
                         <label class="form-label-style" for="area">Pincode</label>
                         <input type="number" id="pincode" name="pincode" class="form-control form-input-style" placeholder="Enter area pincode" required [(ngModel)]="pin" #pincode="ngModel" >
                    </div>
                    <div class="error-msg" *ngIf="!pincode.valid && (pincode.touched || pincode.dirty)">Area pincode is required.</div>
               </div>

               <div class="input-box"><!-- Cost of the property-->
                    <div class="img-box">
                         <img src="assets/img_trans.gif"  class="bg-Rent_analytics_A_10" alt="Cost of the property" >
                    </div>
                    <div class="form-group form-box">
                         <label class="form-label-style" for="property-cost">Cost of the property</label>
                         <input type="number" class="form-control form-input-style" min="500000" max="100000000" [(ngModel)]="CP" name="costofProperty"  required #PropertyCost="ngModel">
                    </div>
                    <div class="error-msg" *ngIf="!PropertyCost.valid && (PropertyCost.touched || PropertyCost.dirty)">Please enter valid cost</div>            
               </div>

               <div class="input-box"><!-- Loan amount (Rs.)-->
                    <div class="img-box">
                         <img src="assets/img_trans.gif"  class="bg-Rent_analytics_A_15" alt="Loan amount" >
                    </div>
                    <div class="form-group form-box">
                         <label class="form-label-style" for="loan-amount">Loan amount (Rs.)</label>
                         <input type="number" class="form-control form-input-style" name="loanAmount" [(ngModel)]="LA" required min="50000" max="100000000" #loanAmount="ngModel">
                    </div>
                    <div class="error-msg" *ngIf="!loanAmount.valid && (loanAmount.touched || loanAmount.dirty)">Please enter valid amount</div>
               </div>

               <div class="input-box"><!-- Loan interest rate (%)-->
                    <div class="img-box">
                         <img src="assets/img_trans.gif"  class="bg-Rent_analytics_A_18" alt="Loan interest rate" >
                    </div>
                    <div class="form-group form-box">
                         <label class="form-label-style" for="loan-interest">Loan interest rate (%)</label>  
                         <input type="number" class="form-control form-input-style" [(ngModel)]="LI_P" required min="0" max="25" name="loaninterest" #loaninterest="ngModel">
                    </div>
                    <div class="error-msg" *ngIf="!loaninterest.valid && (loaninterest.touched || loaninterest.dirty)">Please enter valid interest</div>
               </div>

               <div class="input-box"><!-- Loan term (Year)-->
                    <div class="img-box">
                         <img src="assets/img_trans.gif"  class="bg-Rent_analytics_A_20" alt="Loan term" >
                    </div>
                    <div class="form-group form-box">
                         <label class="form-label-style" for="loan-term">Loan term (Years)</label>
                         <input type="number" class="form-control form-input-style" [(ngModel)]="LY" required min="5" max="35" name="loanterm" #loanterm="ngModel">
                    </div>
                    <div class="error-msg" *ngIf="!loanterm.valid && (loanterm.touched || loanterm.dirty)">Please enter valid term</div>
               </div>

               <div class="input-box"><!-- Rent paid in the current property (Rs.)-->
                    <div class="img-box">
                         <img src="assets/img_trans.gif"  class="bg-Rent_analytics_A_22" alt="Current property rent" >
                    </div>
                    <div class="form-group form-box">
                         <label class="form-label-style" for="current-property-rent">Current rent paid in months (Rs.)</label>
                         <input type="number" class="form-control form-input-style" required min="1000" max="2000000" name="currentRent" [(ngModel)]="RP" #currentRent="ngModel">
                    </div>
                    <div class="error-msg" *ngIf="!currentRent.valid && (currentRent.touched || currentRent.dirty)">Please enter valid rent amount</div>
               </div>







               <div class="input-box">           
                    <button type="submit" class="btn form-submit" (click)="form_function()">Calculate</button>
               </div>
               <!-- [disabled]="!f.valid" -->
          </form>



          <form  #f2="ngForm">
                    <div class="input-box"><!-- Rental appreciation --> 
                         <div class="form-group form-box">
                              <div class="grid_slider" >
                                   <label for="rentalRange">Rental appreciation : {{RA_P}}%</label>
                                   <input type="range" min="1" max="100" class="slider" name="rentalRange" [(ngModel)]="RA_P" (input)="RA_function()">

                              </div>            
                         </div>
                         <div class="error-msg"></div>
                    </div>
                    <div class="input-box"><!-- Property appreciation --> 
                         <div class="form-group form-box">
                              <div class="grid_slider" >
                                   <label for="propertyRange">Property appreciation : {{PA_P}}%</label>
                                   <input type="range" min="1" max="100" class="slider" name="propertyRange" [(ngModel)]="PA_P" (input)="PA_function()">
                              </div>            
                         </div>
                         <div class="error-msg"></div>
                    </div>

                    
                    <div class="input-box"><!-- Montly maintainence (Rs.)-->            
                         <div class="form-group form-box">
                              <label class="form-label-style" for="annual-maintainence">Montly maintainence (Rs.)</label>
                              <input type="text" class="form-control form-input-style" id="annual-maintainence" name="MA" required="true" [(ngModel)]="MA"  (input)="MA_function(f2)">
                         </div>
                         <div class="error-msg"></div>
                    </div>
                    <div class="input-box"><!-- Security deposit (Rs.)-->           
                         <div class="form-group form-box">
                              <label class="form-label-style" for="security-deposit">Security deposit (Rs.)</label>
                              <input type="text" class="form-control form-input-style" id="security-deposit" name="SD" [(ngModel)]="SD" (input)="SD_function()">
                         </div>
                         <div class="error-msg"></div>
                    </div>
                    <div class="input-box"><!-- Property tax rate (%)-->            
                         <div class="form-group form-box">
                              <label class="form-label-style" for="property-tax">Property tax rate (%)</label>
                              <input type="text" class="form-control form-input-style" id="property-tax" name="PT_P" [(ngModel)]="PT_P" (input)="PT_function()">
                         </div>
                         <div class="error-msg"></div>
                    </div>
                    <div class="input-box"><!-- Savings rate (Rs.)-->           
                         <div class="form-group form-box">
                              <label class="form-label-style" for="savings-rate">Savings rate (%)</label>
                              <input type="text" class="form-control form-input-style" id="savings-rate" name="SR_P" [(ngModel)]="SR_P" (input)="SR_function()">
                         </div>
                         <div class="error-msg"></div>
                    </div>
                    <div class="input-box"><!-- Income tax (%)  -->         
                         <div class="form-group form-box">
                              <label class="form-label-style" for="income-tax">Income tax (%)</label>
                              <input type="text" class="form-control form-input-style" id="income-tax" name="IT_P" [(ngModel)]="IT_P" (input)="IT_function()">
                         </div>
                         <div class="error-msg"></div>
                    </div>
               </form>